body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

contents a {
  color: #001F1F;
  text-decoration: none;
}

contents a:hover {
  color: #007F7F;
  text-decoration: none;
}